* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(62, 62, 104, 0.5),rgba(73, 73, 207, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border: 3px solid black;
    width: 60%;
    height: 50vh;
    margin: 100px auto;
    
}

.container {
    display: flex;
}


/*Billing*/


.billing {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.billing label {
    padding: 10px;
}
.billing input {

}
.billing .blocks {

}


/*Payment*/


.payment {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.payment label {
     padding: 10px;
}
.payment input {

}

/*Botão*/


.botao {
    border: 2px solid green;
}